<div class="container">
    <h2 class="title">Manage Offers</h2>
  
    <!-- Form for adding or updating an offer -->
    <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Offer Name</label>
        <input type="text" formControlName="description" id="name" class="form-control" placeholder="Enter offer description" required />
      </div>
  
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="datetime-local" formControlName="startDate" id="startDate" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="datetime-local" formControlName="endDate" id="endDate" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="discountPercentage">Discount Percentage</label>
        <input type="number" formControlName="discountPercentage" id="discountPercentage" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" formControlName="image" id="image" class="form-control" placeholder="Enter offer image URL" required />
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" formControlName="price" id="price" class="form-control" placeholder="Enter offer price" required />
      </div>
  
      <div class="form-group">
        <label for="businessId">Business ID</label>
        <input type="number" formControlName="businessId" id="businessId" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-primary mt-3 mx-3">{{ isEdit ? 'Update Offer' : 'Add Offer' }}</button>
      <button type="button" class="btn btn-secondary mt-3" (click)="resetForm()" *ngIf="isEdit">Cancel</button>
    </form>
  
    <hr />
  
    <!-- Table to display offers -->
    <table class="table table-bordered">
      <thead>
        <tr class="title fs-5 ">
          <th>ID</th>
          <th>Description</th>
          <th>Price</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of offers">
          <td>{{ offer.offerId }}</td>
          <td>{{ offer.description }}</td>
          <td>{{ offer.price }}</td>
          <td>{{ offer.startDate | date }}</td>
          <td>{{ offer.endDate | date }}</td>
          <td>
            <button class="btn btn-warning mx-2" (click)="editOffer(offer)">Edit</button>
            <button class="btn btn-danger" (click)="deleteOffer(offer.offerId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  